:root {
	font-family: sans-serif;
	font-size: 16px;
	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
}

body,
html {
	height: 100%;
}

canvas {
	height: 100%;
	width: 100%;
	outline: none;

	background: rgb(34, 193, 195);
	background: linear-gradient(0deg,
			rgb(8, 163, 166) 0%,
			rgba(79, 166, 167, 0.849) 8%,
			rgba(61, 79, 94, 0.885) 40%,
			rgb(17, 19, 23));
}