.tracky-mouse-pointer {
	z-index: 900000;
    pointer-events: none;
	border-radius: 50%;
	background-color: red;
	width: 20px;
	height: 20px;
	position: fixed;
	transform: translate(-50%, -50%);
}
.tracky-mouse-ui {
	background-color: rgb(195, 173, 230);
	color: black;
	padding: 10px;
	border-radius: 5px;
	max-width: 600px;
}
.tracky-mouse-canvas {
	width: 100%;
	background-color: rgba(15, 0, 20, 0.5);
}
.tracky-mouse-ui label {
	display: block;
}
.tracky-mouse-ui .label-text {
	display: inline-block;
	min-width: 150px;
}
.tracky-mouse-canvas-container {
	position: relative;
}
.tracky-mouse-canvas-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tracky-mouse-use-camera-button {
	font-size: 2em;
	color: white;
	background-color: rgb(220, 20, 60);
	border: 0;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}
.tracky-mouse-use-camera-button:hover {
	background-color: rgb(230, 20, 62);
}