#poses-list li.selected {
	background-color: #007bff;
	color: white;
}

#samples-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	perspective: 200px;
	position: relative;
	min-height: 500px;
	transform-style: preserve-3d;
}

.bucket {
	position: absolute;
	left: 50%;
	top: 50%;
	/* transform: translateX(calc(var(--column) * 50px)) translateY(calc(var(--row) * 50px)); */
	transform: rotateX(var(--pitch)) rotateY(var(--yaw)) translateZ(150px) scale(0.3);
	transform-origin: center;
	transform-style: preserve-3d;
}

.bucket img {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
}

.bucket.current img {
	border: 2px solid #007bff;
}

.bucket::before {
	content: attr(data-count);
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: red;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	transform: translateZ(5px);
}