#poses-list li.selected {
	background-color: #007bff;
	color: white;
}

#samples-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	perspective: 1000px;
	position: relative;
	min-height: 500px;
	transform-style: preserve-3d;
}

.bucket {
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(attr(data-column) * 110px) translateY(attr(data-row) * 110px);
}

.bucket img {
	position: absolute;
	left: 0;
	top: 0;
}

.bucket::before {
	content: attr(data-count);
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: red;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}