<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
	<!-- Publisher="CN=CE6477EF-1F09-4D35-B865-45A402CC8784"? -->
	<Identity Name="IsaiahOdhner.TrackyMouse"
		Version="2.2.0.0"
		Publisher="CN=Isaiah Odhner" />
	<Properties>
		<DisplayName>Tracky Mouse</DisplayName>
		<PublisherDisplayName>Isaiah Odhner</PublisherDisplayName>
		<Logo>app/resources/app/images/tracky-mouse-logo-512.png</Logo>
	</Properties>
	<Prerequisites>
		<!-- TODO: real numbers -->
		<OSMinVersion>6.2</OSMinVersion>
		<OSMaxVersionTested>6.2</OSMaxVersionTested>
	</Prerequisites>
	<Resources>
		<Resource Language="en-US" />
	</Resources>
	<Capabilities>
		<!-- <Capability Name="internetClient" /> for Sentry error reporting -->
		<!-- <DeviceCapability Name="microphone" /> for future hiss/pop based clicking -->
		<DeviceCapability Name="webcam" />
		<!-- how do you add these things? -->
		<!-- <Capability Name="uiAccess" /> -->
		<!-- <Capability Name="inputInjectionBrokered" /> -->
		<!-- <Capability Name="runFullTrust" /> ? -->
	</Capabilities>
	<!-- https://learn.microsoft.com/en-us/windows/win32/winauto/uiauto-securityoverview -->
	<!-- These are lowercase? Is this case-insensitive or is this from a different sort of app
	manifest? Docs are hard to navigate. -->
	<!-- <trustInfo xmlns="urn:schemas-microsoft-com:asm.v3">
		<security>
			<requestedPrivileges>
				<requestedExecutionLevel
					level="highestAvailable"
					uiAccess="true" />
			</requestedPrivileges>
		</security>
	</trustInfo> -->
	<Applications>
		<!-- wWinMain or Windows.FullTrustApplication? -->
		<Application
			Id="TrackyMouse"
			Executable="app/tracky-mouse.exe"
			EntryPoint="wWinMain">
			<VisualElements
				DisplayName="Tracky Mouse"
				Description="Control your computer hands-free."
				Logo="app/resources/app/images/tracky-mouse-logo-512.png"
				SmallLogo="app/resources/app/images/tracky-mouse-logo-512.png"
				ForegroundText="dark"
				BackgroundColor="#FFFF00">
				<SplashScreen Image="app/resources/app/images/tracky-mouse-logo-512.png" />
			</VisualElements>
		</Application>
	</Applications>
</Package>
<!-- TODO:
https://learn.microsoft.com/en-us/windows/win32/winauto/ease-of-access- -
-assistive-technology-registration -->