html,
body {
	overflow: hidden;
	margin: 0;
}

.laser-pointer {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.5);
	transform: translate(-50%, -50%);
	pointer-events: none;
}